# ===== 通用 配置 =======

# 数据库密码，不填则使用默认值
DB_Password=

# 自定义数据库存储路径，末尾不需要斜杠。不填则默认使用~/.docker
DB_DIR=/data/docker



# ===== Huginn 配置 =======

# 你的服务器绑定的域名或者是IP
HOST=

# 指定Huginn绑定的外部端口
HUGINN_PORT=

# 安装完成后通过http://<HOST>:<HUGINN_PORT>访问你的Huginn服务，替换变量去掉括号


# ===== TTRSS 配置 =======

# 指定TTRSS绑定的外部端口
TTRSS_PORT=

# TTRSS订阅RSS的白名单端口，留空则默认接受80和443
RSS_ALLOW_PORTS=80,443,3000,7000

# 指定TTRSS的SELF URL，类似http://my.domain.com:1212
# my.domain.com替换为你的域名，如没有填写IP即可
# 安装完成后通过设置的SELF URL访问你的TTRSS服务
TTRSS_SELF_URL=

# 安装完成后通过设置的SELF URL访问你的TTRSS服务

# ===== WEWE RSS 配置 =======
# 具体参阅WEWE RSS 的文档
WEWE_RSS_ADMIN_AUTH_CODE=
WEWE_RSS_ADMIN_BASE_URL=




